.banner {
    position: relative;   /* Required for absolute children */
    width: 100%;
}

.banner-image {
    width: 100%;
    height: 600px;
    display: block;
}

.banner-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.5); /* Black overlay */
    z-index: 1;
}

.banner-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
}
